head{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

.see-all{
    font-size: .8em;
    text-transform: uppercase;
}

h1{
    font-size: 2.5rem;
    border-top: 1px solid black;
}

h2{
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2, head{
    font-weight: lighter;
}

.cast img{
    width: 100%;
}

.cast li{
    width: 25%;
}

.selected a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.cast div{
    font-size: .8rem;
}

.cast div:first-of-type{
    font-weight: 700;
}

.cast div:nth-of-type(2){
    font-style: italic;
}

.seasons li:last-of-type::after{
    content: "*";

}

#game-of-thrones .seasons ul::after{
  content: "* Final Season";
  display: block;
  font-size: 0.7rem;
  color: #999;
}
