*{
    background-color: rgb(255, 232, 235);
}
html {
    color: purple;
    font-family: "Ubuntu", sans-serif;
    font-size: 18pt;
}

light {
  font-weight: 300;
  font-style: normal;
}

bold {
  font-weight: 700;
  font-style: normal;
}

dfn {
  font-style: italic
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body{
    margin: 15%;
}

h1 {
    color: rgb(15, 172, 172);
    letter-spacing: -.05em;
    text-transform: capitalize;
    text-indent: -2rem;
}

h2 {
    color: rgb(15, 172, 172);
    font-size: 24px;
    letter-spacing: -.05em;
    text-transform: capitalize;
    text-indent: 1rem;
}

h4{
    font-size: 9px;
    line-height: .75;
    text-indent: 1rem;
    color: rgb(15, 172, 172);
    text-transform: capitalize;
}

p{
    font-size: 13pt;
    line-height: .75;
    text-indent: 1rem;
}

/* small{ 
    font-style: italic;
}*/

aside{
    text-align: center;
}

article{
    margin: 6rem 0;
}

section{
    margin: 2em 0;
}

a{
    text-decoration: none;
}

b{
    text-decoration: underline;
}

c{
    text-decoration: line-through;
}

d{
    text-decoration: overline;
}

expand{
    letter-spacing: .3em;
}

squish{
    letter-spacing: -.06em;
}

e{
    text-transform: lowercase;
}

f{
    text-transform: capitalize;
}

g{
    text-transform: uppercase;
}